/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	text-align: center;
	font-family: 'Roboto', sans-serif; 
}




#hero{

	width: 100vw;
	height: 100vh;
	background-image: url("../images/hero.png");
	background-size: cover;


}

.hero_london{

	width: 100vw;
	height: 100vh;
	background-image: url("../images/london2.png");
	opacity:0.9;
	background-size: cover;
	opacity:0.85;

}

.hero_paris{
	width: 100vw;
	height: 100vh;
	background-image: url("../images/paris_hero.jpg");
	opacity:0.9;
	background-size: cover;
	opacity:0.85;
}

.hero_tokyo{
	width: 100vw;
	height: 100vh;
	background-image: url("../images/tokyo_hero.jpg");
	opacity:0.9;
	background-size: cover;
	opacity:0.75;
}

.hero_barcelona{
	width: 100vw;
	height: 100vh;
	background-image: url("../images/barcelona_hero.jpg");
	opacity:0.9;
	background-size: cover;
}

.hero_newyork{
	width: 100vw;
	height: 100vh;
	background-image: url("../images/newyork.png");
	opacity:0.9;
	background-size: cover;
}

.hero_bangkok{
	width: 100vw;
	height: 100vh;
	background-image: url("../images/bangkok.png");
	opacity:0.9;
	background-size: cover;
}


#hero h1{
	
	
	font-size: 60px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	position:absolute;
	
	line-height: 70px;
	letter-spacing: 5px;


}

.hero_london h1{
	
	
	font-size: 90px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	position:absolute;
	
	line-height: 70px;
	letter-spacing: 5px;


}

.hero_paris h1{
	
	
	font-size: 90px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	position:absolute;
	
	line-height: 70px;
	letter-spacing: 5px;


}

.hero_tokyo h1{
	
	
	font-size: 90px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	position:absolute;
	
	line-height: 70px;
	letter-spacing: 5px;


}

.hero_barcelona h1{
	
	
	font-size: 90px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	position:absolute;
	
	line-height: 70px;
	letter-spacing: 5px;


}

.hero_newyork h1{
	
	
	font-size: 90px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	position:absolute;
	
	line-height: 100px;
	letter-spacing: 5px;


}

.hero_bangkok h1{
	
	
	font-size: 90px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	position:absolute;
	
	line-height: 100px;
	letter-spacing: 5px;


}

#hero spam{
	white-space: nowrap;
	display:block;
}

h2{
	margin-top: 80px;


	font-size: 36px;
	color: black;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;

	
}



h2:after{
	content:"";
	display: block;
	width: 80px;
	border-bottom: 1px solid #c2c2c2;
	margin-bottom: 40px;
	position:relative;
	left: 50%;
	transform: translate(-50%,0);
	margin-top: 30px;
	
}

p{
	margin-left: 15%;
	margin-right: 15%;
	max-width: 850px;
	line-height: 30px;
	font-size: 16px;
	color: #646464;
	font-weight: 300;
}

/*p.intro:after{
	content:"";
	display: block;
	width: 1000px;
	border-bottom: 1px solid #c2c2c2;
	margin-bottom: 40px;
	position:relative;
	left: 50%;
	transform: translate(-50%,0);
	margin-top: 30px;

}*/

section#cities{
	width: 1080px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	opacity: 0.8;
}

section#cities a{
	width:500px;
	height: 230px;
	margin:20px;
	display: inline-block;
	background-repeat: no-repeat;
	background-color: grey;
	text-decoration: none;
	
}

section#cities a:nth-of-type(1){
	width:500px;
	height: 500px;
	display: block;
	float: left;
}

section#cities a:nth-of-type(4){
	width:500px;
	height: 500px;
	display: block;
	float: right;
	
}

section#cities h3{
	font-size: 37px;
	letter-spacing: 3px;
	font-weight: 700;
	color: white;
	text-transform: uppercase;
	position:relative;
	top:50%;
	transform: translate(0,-50%);


}

a[href='london.html']{
	background-image: url("../images/london2.png");

}

a[href='paris.html']{
	background-image: url("../images/paris.png");
}

a[href='tokyo.html']{
	background-image: url("../images/tokyo.png");
}

a[href='barcelona.html']{
	background-image: url("../images/barcelona.png");
}

a[href='bangkok.html']{
	background-image: url("../images/bangkok.png");
}

a[href='newyork.html']{
	background-image: url("../images/newyork.png");
}

section#known-for{

	width: 1200px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	

}

section#known-for div{
	width:320px;
	height: 320px;
	margin:40px;
	background-color: grey;
	float:left;
}
